body {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #352e1b, #091107);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.login-container {
    position: relative; /* Added to ensure the close button positions correctly */
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}


h1 {
    color: #444;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Add padding without increasing the width */
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #135ab7;
}

.error-message {
    color: red;
    font-size: 14px;
}

.close-btn {
    position: absolute;
    top: 20px;    
    right: 20px;
    border: none;
    background: none;
    color: #aaa;
    font-size: 18px;
    cursor: pointer;
    padding: 0;  /* Reduce or eliminate padding */
    line-height: 1;  /* Adjust line height to fit the X exactly */
    height: 18px;  /* Match the height to the font size */
    width: 18px;  /* Match the width to the font size */
    display: flex;  /* Use flex to center the content */
    align-items: center;  /* Center align vertically */
    justify-content: center;  /* Center align horizontally */
    text-align: center;
}

.close-btn:hover {
    color: #ff0000;
}

.close-btn:focus {
    outline: none;  /* Optional: Remove or customize the focus outline */
}
