body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #352e1b, #091107);
    font-weight: 300;
  }

.questionContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1050px;
    max-width: 90%;
  }

  .questionTextContainer {
    font-size: 38px;
    width: 1000px;
    max-width: 90%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    overflow: auto;
  }
  
  .questionText {
    margin-bottom: 20px;
  } 
  
  .responseContainer {
    margin-bottom: 20px;
}

.responseInput {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    min-height: 200px; /* Minimum height to start */
    max-height: 400px; /* Maximum height, adjust as needed */
    resize: vertical; /* Allow vertical resizing */
}


/* Center the placeholder text */
.responseInput::placeholder {
    text-align: center;
}
  
  .nextQuestion {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }
  
  .nextQuestion:hover {
    background-color: #0056b3;
  }
  