body {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #352e1b, #091107);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.uploadContainer {
    width: 100%; /* Ensures the container spans the full width */
    text-align: center; /* Centers the content horizontally */
    position: absolute; /* Makes the container position relative to the nearest positioned ancestor */
    top: 0; /* Positions the container at the top */
    z-index: 10; /* Ensures it is above other content */
}

.uploadTitle {
    font-size: 48px; /* Large font size for visibility */
    color: white; /* Ensures text is visible against darker backgrounds */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Adds a glow effect for better visibility */
    margin: 20px 0; /* Adds some space above and below the title */
}
  .menu-toggler {
    position: absolute;
    display: block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:40px;
    height:40px;
    z-index:2;
    opacity:0;
    cursor:pointer;
  }
  .menu-toggler:hover + label,
  .menu-toggler:hover + label:before,
  .menu-toggler:hover + label:after{
    background: white;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before,
  .menu-toggler:checked + label:after{
    top:0;
    width:40px;
    transform-origin: 50% 50%;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(270deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }
  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(35, 35, 36, 0.9);
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu-item:nth-child(5) a {
    background: #ff0000; /* Green background for visibility */
    color: white;
    line-height: 80px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    border-radius: 40px; /* Make it circular */
    cursor: pointer; /* Change mouse cursor on hover */
    transform: rotate(-270deg);
  }
  .menu-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;  // Make sure the items can be interacted with
}

/* When the toggler is checked, show the menu items */
.menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
    transform: scale(1);
    pointer-events: auto; /* Now interactive */
  }

.menu-toggler-description{
    color: white;
    margin: auto;
    margin-top: 100px;
}

/* Hide the description when the toggler is checked */
.menu-toggler:checked ~ .menu-toggler-description {
    display: none;
}

/* Ensure the description is visible by default */
.menu-toggler-description {
    display: block;  /* or 'inline', depending on your layout needs */
    transition: opacity 0.5s ease; /* Optional: add a fade effect */

}


.menu-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 80px;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    transition: all 0.2s ease;
    pointer-events: none;  // Prevent interaction directly with the link
}

.menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
}

.hover-text {
    font-size: 11px;  // Smaller font size for hover text
    color: white;  // Text color
    display: none;  // Initially hidden
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 10px;  // Space between icon and text
}

.menu-item a:hover .hover-text {
    display: block;  // Display on hover
    opacity: 1;  // Make text visible
}

/* Overall Modal Styling */
.viewFilesmodal {
  position: fixed; /* Use fixed to ensure it's relative to the viewport */
  display: none;
  z-index: 1000; /* Above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  justify-content: center;
  align-items: center;
}

.viewFilesmodal-content {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: 80%; /* Responsive width */
  max-width: 900px; /* Max width */
  height: auto; /* Auto height based on content */
  max-height: 90%; /* Max height */
  overflow: auto; /* Enables scrolling on overflow */
  transform: translateY(-50px);
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.viewFilesmodal-content.active {
  display: block; /* Display block to fill the area as needed */
  transform: translateY(0);
  opacity: 1;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

/* Directory Tree Styling */
.directory-tree {
  position:relative;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto; /* Scrollable vertically if needed */
  max-height: 500px; /* Max height for scrollable area */
}

.directory-tree ul {
  margin-left: 20px;
}

.folder-name, .file-name {
  display: block;
  padding: 8px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.folder-name:hover, .file-name:hover {
  background-color: #f0f0f0;
}

.file-name {
  font-weight: normal;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f8f8f8;
  color: #333;
}

td {
  color: #666;
}

tbody {
  display: block;
  max-height: 400px; /* Height for tbody scrolling */
  overflow-y: auto; /* Scrollbar for tbody */
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em); /* Adjust for scrollbar */
}

/* Button Styling for Modal Trigger */
.viewFilesmodal-trigger {
  background-color: #1a73e8; /* Google blue */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewFilesmodal-trigger:hover {
  background-color: #135ab7; /* Darker blue on hover */
}

.item-options {
    display: none; /* Hide by default */
    position: absolute; /* Position relative to parent item */
    background-color: #f9f9f9;
    min-width: 120px; /* Minimum width of the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Ensure it's above other items */
}

.folder-name:hover + .item-options,
.file-name:hover + .item-options,
.item-options:hover {
    display: block; /* Show on hover */
}

.item-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-options li {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.item-options li:hover {
    background-color: #f1f1f1; /* Light grey background on hover */
}


.permission-modal {
    display: none;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    position: absolute; // Cover the entire viewport
    top: 0;
    left: 0;
    width: 100%; // Full width
    height: 100%; // Full height
    background-color: rgba(0, 0, 0, 0.4); // Semi-transparent background
    z-index: 1000; // High z-index to ensure it's above other content
}

    .permission-modal-content {
        background-color: #fff;
        padding: 2em;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        max-width: 500px; // Maximum width for the modal
        transition: opacity 0.3s ease, transform 0.3s ease-out;
        opacity: 1; // Start fully visible
        display: block; // Ensures it behaves as expected in flex container
    }

    .permission-modal-ok {
        padding: 10px 20px;
        color: white;
        background-color: #1a73e8; // Google blue
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
    }

    .permission-modal-ok:hover {
        background-color: #135ab7;
    }

